Resultado estadisticas: <p>

<table align="center" style="margin-left: auto; margin-right: auto;">

  <td>Número de preguntas:</td>
  <td> <input type="text" readonly style="border:none" id="countPreguntas" name="countPreguntas" value="<%=countPreguntas %>"/> </td>
  </tr>
  <tr>
  <td> Número de comentarios: </td>
  <td><input type="text" readonly style="border:none" id="countComments" name="countComments" value="<%=countComments %>"/> </td>
  </tr>
  <tr>
  <td>Media comentarios por Pregunta: </td>
  <td><input type="text" readonly style="border:none" id="countRel" name="countRel" value="<%=countComments/countPreguntas%>"/> </td>
  </tr>
    <tr>
  <td> Número de preguntas Con Comentarios: </td>
  <td><input type="text" readonly style="border:none" id="countConComments" name="countConComments" value="<%=countConComments %>"/> </td>
  </tr>
  <tr>
  <td> Número de preguntas Sin Comentarios: </td>
  <td><input type="text" readonly style="border:none" id="countSinComments" name="countSinComments" value="<%=countSinComments %>"/> </td>
  </tr>

  </table>

